.navsection{
    background-color: rgb(255, 188, 3);
    width: 100%;
}
.logoName{
    margin-left: 100px;

}
.navbar{
    margin-left: 200px;
}
.navName{
    color: black;
    margin-right: 50px;
    text-decoration: none;
}

.userIcon{
    margin-right: 20px;
}