.error{
    color: rgb(255, 5, 5);
    font-size: 14px;
}
.error2{
    color: rgb(255, 5, 5);
    font-size: 14px;
    margin-top: 0px;
}
.inputtext{
    font-size: 13px;
   
}
.labelname{
    font-weight: 500;
}
.label2{
    font-weight: 500;
    margin-top: 10px;
    /* margin-bottom: -10px; */
}
.label3{
    font-weight: 500;
    margin-top: 0px;
    /* margin-bottom: -10px; */
}

.selectF{
    font-size: 13px;
}
.cardbg{
    /* background-color: rgb(255, 188, 3); */
    background-color: rgb(250, 215, 215);
    /* background-color: rgba(160, 145, 174, 0.748); */
}
.selectValue{
    padding: 8px;
    margin-left: 0px !important;
    margin-top: 0px !important;
    border: 1px solid #ced4da;
    width: 245px;
    border-radius: 5px;
}
.alert{
    background-color: red;
}
